@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    
}
html {
    overflow-x: hidden;
}
.navbar-light .navbar-nav .nav-link {
    color: white!important;
    font-weight: bold;
    font-size: 18px;
}

@media (min-width: 1026px){
    .rowIcon {
        margin-left: 25px!important;
        align-items: center!important;
        margin-top: 2%;
    }
    .nav-btn{
        margin-top: 5%;
    }
}

.brand {
    display: inline-block;
    width: 230px;
    height: 80px;
    background-size: cover;
}

.icon {
   
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: cover;
    
}

.twt-icon {
    background-image: url(../images/home/twitter_-1.svg);
}

.telegram-icon {
    background-image: url(../images/home/telegram_app_-1.svg);
}


.BrandLogo {
    background-image: url(../images/home/nav-logo.svg);
    height: 50px;
    width: 140px;
}

.heroTxt h1 {
    font-size: 5vw!important;
    text-align: center;
    font-weight: bold;
    justify-content: end;
    margin-top: 2%;
    overflow: hidden;
    color: white;
}
.row1 {
    margin-top: 10%;
}
.mainContent {
    margin-left: 6%;
    margin-top: 10%;
    margin-right: -6%;
}
.mainContent h1 {
    font-size: 3vw;
    font-weight: bold;
}
.mainContent h4 {
    font-size: 1vw;

}
.bd-example {
    padding: 0 1.5vw!important;
}

.Details {
    background-image: url(../images/contact/Form-Box.png);
    border-radius: 30px;
    max-width: 35%!important;
    height: auto;
    padding-bottom: 6%;
    margin-top: 8vw;
    margin-bottom: 10%;
    
    background-size: cover;
    
   

}
.Details h1 {
    color: white;
    font-weight: bold;
    margin-top: 2vw;
    font-size: 3vw
}
label {
    color: white;
    margin-top: 1vw;
    font-weight: bold;
    
}
.btn-primary {
    background-color: white!important;
    color: black!important;
    border-radius: 99px!important;
    font-size: 1vw!important;
    border-color: transparent!important;
}

.footer {
    background-color: #121212!important;
    padding: 7% 5%!important;
    overflow-x: hidden;
}

.footer h4 {
    color: #fff;
    margin: 15px 20px!important;
    overflow: hidden;
}

@media (max-width: 1024px){
    .navbar-light .navbar-nav .nav-link {
        color: white !important;
        font-weight: bold;
        font-size: 15px;
    }
    .nav-btn h4 {
        
        font-size: 15px;
    }
    
    .brand {
        display: inline-block;
        width: 180px;
        height: 60px;
        background-size: cover;
    }
    
    .form-control {
        border-radius: 99px!important;
        border: 0px!important;
        height: 30px!important;
    }
    .input-group-text {
        background-color: #000000!important;
        color: white!important;
        border-radius: 99px!important;
        padding: 10px 40px!important;
        font-size: 16px!important;
    }
    .footer h4 {
        color: #fff;
        margin: 30px 10px!important;
    }
    .footer .footerLinks{
        margin: 10px 0px;
    }
}

@media (max-width: 992px) {
    nav.navbar {
      background-color: white!important;
      
    }
    .nav-btn {
        margin-left: 2%!important;
        background-color: transparent!important;
       
    }
    .nav-btn h4 {
       font-weight: normal!important;
    }
    .BrandLogo {
        background-image: url(../images/home/nav-logo-dark.png)!important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black!important;
        font-weight: normal;
        font-size: 15px;
    }
    .navbackground {
        margin-top: 70px;
    }
  
}
  @media (max-width: 772px){
    .twt-icon {
        background-image: url(../images/home/twitter.svg);
        max-height: 40px!important;
        
    }
    .icon {
        width: 30px;
        height: 30px;
    }
    .telegram-icon {
        background-image: url(../images/home/telegram.svg);
    }
    
   
    .input-group-append {     
        margin-left: -90px!important;
    }
    .form-control {
        border-radius: 99px!important;
        border: 0px!important;
        height: 40px!important;
    }
    .input-group-text {
        background-color: #000000!important;
        color: white!important;
        border-radius: 99px!important;
        padding: 6px 20px!important;
        font-size: 12px!important;
    }
    .form-control {
        border-radius: 99px!important;
        border: 0px!important;
        height: 30px!important;
    }
    .mainContent {
        margin-left: 6%;
        margin-top: 10%;
        margin-right: -50%;
    }
    .Details h1 {
        color: white;
        font-size: 3vw;
        font-weight: bold;
        margin-top: 3vw;
    }
  }

  @media (max-width: 482px)
  {
    .BrandLogo {
        width: 98px;
        height: 40px;
    }
    .rowIcon{
        margin-left: 1%!important;
        margin-top: 3%!important;
        
    }
    .Details {      
        max-width: 75%!important; 
    
    }
      .mainContent{
          margin-left: 20%!important;
          margin-right: 0!important;
      }
    .mainContent h1 {
        font-size: 7vw;
        font-weight: bold;
    }
    .mainContent h4 {
        font-size: 2vw;
    
    }
    
    .row1 {
        display: flex!important;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column!important;
    flex-wrap: wrap!important;
    align-content: center!important;
    justify-content: center!important;
    align-items: center!important;
    }
    .heroTxt h1 {
        font-size: 10vw!important;
        margin-top: 6%;
       
    }
    .bd-example h1{
        font-size: 5vw;
    }
    .Details{
        border-radius: 15px;
        padding-top: 3%;
        
    }
    
    .input-group-append {     
        margin-left: -52px!important;
    }
    .form-control {
        border-radius: 99px!important;
        border: 0px!important;
        height: 25px!important;
        width: 100%!important;
    }
    .input-group-text {
        background-color: #000000!important;
        color: white!important;
        border-radius: 99px!important;
        padding: 3px 6px!important;
        font-size: 6px!important;
    }
    .footer .row {
        margin-right: 0px!important; 
    margin-left: 0px!important;  
    overflow: hidden;}
    .footer .footerLogo {
        height: 80%;
        width: 80%;
    }
    .footer h4 {
        color: #fff;
        margin: 10px 0px!important;
        font-size: 10px;
        
    }
    .footer .footerLinks{
        margin: 10px 0px;
  
     
    }
    .btn {
        padding: 0.325rem 1rem!important;
        font-size: 2vw!important;
    }
  }